
#home{
    background: url(../pictures/hunter.jpg);
    min-height: 110vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
